<!DOCTYPE html>
<html>
<head>
    <title>Node</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/get_all_users" class="btn btn-primary">Get all users</a>
            </div>
        </div>
    </div>
</section>
<br><br>
<section>
    <div class="container">
        <div class="row">
                {{{body}}}
        </div>
    </div>
</section>

</html>
